
@charset "UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
    
  
}

body{
    background-color:#9E24ED;
}
p{
    color: #ffffff;
    }

h1{
    text-align: center;
    color:#ffffff
   
}
input[type=text] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #DBAFE0;
    border: 1px solid #000000;
    width: 150px
}

textarea {
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type=text]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid yellow;
}

input[type=submit] {
    background: #006699;
    color: #ffffff;
}
/*SEGUNDO INPUT DE RESPOSTA (obs: mudei o cursor do mouse ao clicar no input*/
input{
    cursor: pointer;
}
input[type=button] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #DBAFE0;
    border: 1px solid #000000;
    width: 150px
}

textarea {
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type=button]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid yellow;
}

input[type=submit] {
    background: #006699;
    color: #ffffff;
}
    


